<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251249600363-dtf1ango4rhbfhcmqfp7cj7e3d96tjdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251249600363-dtf1ango4rhbfhcmqfp7cj7e3d96tjdd</string>
	<key>API_KEY</key>
	<string>AIzaSyAtmK1YfMxwtDIjIZuB_FqUuIiU1IY5phY</string>
	<key>GCM_SENDER_ID</key>
	<string>251249600363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weaknessWork</string>
	<key>PROJECT_ID</key>
	<string>decisive-force-388102</string>
	<key>STORAGE_BUCKET</key>
	<string>decisive-force-388102.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251249600363:ios:1e461ee3408a10f02bce2e</string>
</dict>
</plist>